<td>{{ offer.title }}</td>
{#<td>#}
    {#<ul class="list-unstyled">#}
        {#{% for item in offer.links %}#}
            {#<li>{{ item.type }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}
    {#</td>#}
    {#<td>#}
    {#<ul class="list-unstyled">#}
        {#{% for item in offer.compensations %}#}
            {#<li>{{ item.price }} {{ item.currency }}. {{ item.type }}: {{ item.eventType.title }}</li>#}
        {#{% endfor %}#}
    {#</ul>#}
{#</td>#}
<td>{{ offer.activeFrom|date('d-m-Y') }}</td>
<td>{{ offer.activeTo|date('d-m-Y') }}</td>
<td>
    {% if true == offer.isActive %}
        <small class="label bg-green">Активирован</small>
    {% else %}
        <small class="label bg-red">Деактивирован</small>
    {% endif %}
</td>