{% extends 'base.html.twig' %}

{% set _navbar_title = 'Создание уведомления' %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(function() {

            $('#select-all').on('ifChecked', function() {
                $('#push_notification_users .icheckbox_square-blue').iCheck('check');
            });

            $('#select-all').on('ifUnchecked', function() {
                $('#push_notification_users .icheckbox_square-blue').iCheck('uncheck');
            });
        });

    </script>
{% endblock %}

{% block top_nav_menu_buttons %}
    {#<ul class="nav navbar-nav navbar-right">#}
        {#<li>#}
            {#<a href="{{ path('app_offer_list') }}"><i class="fa fa-list" aria-hidden="true"></i>#}
                {#Вернуться к списку#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

{% block page_content %}

    {{ form_start(form) }}

        {% if 0 != form.vars.errors|length %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger alert-error">
                    <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">

                        {{ form_row(form.offer_id) }}

                        {{ form_row(form.message) }}

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                            {{ form_row(form.offer) }}
                            {{ form_row(form.groups) }}
                        {% else %}

                            {{ form_label(form.users) }}
                            <div class="checkbox">
                                <label style="padding-left:0">
                                    <input type="checkbox"
                                           class="flat"
                                           id="select-all"
                                           value=""
                                    >
                                    Все получатели
                                </label>
                            </div>

                            {{ form_widget(form.users) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="well well-small form-actions">
            <button type="submit" class="btn btn-success">Создать</button>
        </div>
    {{ form_end(form) }}

{% endblock %}