{% extends 'base.html.twig' %}

{% block top_nav_menu_buttons %}

    <ul class="nav navbar-nav navbar-left">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li>
        <div class="navbar-left">
            <div style="padding-top: 8px; width:450px; margin-right: 10px;">
                <select id="user" name="user" role="_filter" style="width:450px;">
                    {% for u in users %}
                        <option value="{{ path('app_stat_list', { user: u['id'] }) }}"
                                {% if user.id is defined and u['id'] == user.id %}selected{% endif %}
                        >{{ u['email'] }} ({{ u['name'] }})</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="navbar-left">
            <div style="padding-top: 8px; width:150px; margin-right: 10px;">
                <select id="status" name="status" role="_filter" style="width:150px;">
                    {% for key, item in statusList %}
                        <option value="{{ path('app_stat_list', { status: key, user: user.id }) }}"
                            {% if status is defined and key == status %}selected{% endif %}
                        >{{ item }}</option>
                    {% endfor %}

                </select>
            </div>
        </div>
    </li>
    {% else %}
        {% for key, item in statusList %}
            <li class="dropdown {% if status == key %}active{% endif %}">
                <a class="" href="{{ path('app_stat_list', { status: key } ) }}">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endblock %}

{% block page_content %}

    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="headings">
                    <th class="column-title">Наименование</th>
                    <th class="column-title">Копий</th>
                    <th class="column-title">Сумма</th>
                </tr>
                </thead>

                <tbody>
                {% if items is empty %}
                    <tr class="even pointer">
                        <td colspan="3">Данных не обнаружено</td>
                    </tr>
                {% else %}

                    {% set totalCount = 0 %}
                    {% set totalSum = 0 %}

                    {% for item in items %}

                    {% set totalCount = totalCount + item.count %}
                    {% set totalSum = totalSum + item.sum %}

                    <tr class="even pointer">
                        <td>{{ item.title }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.sum }}</td>
                    </tr>

                    {% endfor %}

                    <tr class="even pointer">
                        <td>Итого:</td>
                        <td>{{ totalCount }}</td>
                        <td>{{ totalSum }}</td>
                    </tr>

                    {% endif %}

                </tbody>
            </table>
        </div>
        <div class="box-footer">
            {#{% include 'pager/default_pager.html.twig' %}#}
        </div>
    </div>

{% endblock %}