{% extends 'base.html.twig' %}

{% set _navbar_title = 'create' == action ? 'Создание пользователя' : 'Редактирование пользователя' %}

{% block top_nav_menu_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{{ path('app_settings_users_list') }}"><i class="fa fa-list" aria-hidden="true"></i>
                Вернуться к списку
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-{% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}12{% else %}6{% endif %}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">Данные пользователя</h4>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.profile.lastname) }}
                        {{ form_row(form.profile.firstname) }}
                        {{ form_row(form.profile.phone) }}
                        {{ form_row(form.is_active) }}

                        <div {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}style="display: none"{% endif %}>
                        {{ form_row(form.groups) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6" {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}style="display: none"{% endif %}>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">Данные компании</h4>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.profile.company_id) }}
                        {{ form_row(form.profile.company_title) }}
                        {{ form_row(form.profile.employer) }}
                        {{ form_row(form.profile.company_payout_over_solar_staff) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="well well-small form-actions">
            <button type="submit" class="btn btn-success">
                {% if 'create' == action %}Создать{% else %}Обновить{% endif %} пользователя
            </button>
        </div>
    {{ form_end(form) }}

{% endblock %}