{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.commission-percent').editable({
                error: function(response, newValue) {
                    return response.responseJSON.error;
                }
            });
        });
    </script>

{% endblock %}

{% block top_nav_menu_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="" href="{{ path('app_settings_users_create') }}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Добавить
            </a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}

    <form action="#" method="GET">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">Email</th>
                        <th class="column-title">Имя</th>
                        <th class="column-title">Фамилия</th>
                        <th class="column-title">Телефон</th>
                        {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                        <th class="column-title">ID Компании</th>
                        <th class="column-title">Наименование компании</th>
                        <th class="column-title">Работодатель</th>
                        {% endif %}
                        {% if is_granted(['ROLE_APP_USER_CHANGE_COMMISSION']) %}
                            <th class="column-title">Комиссия</th>
                        {% endif %}
                        <th class="column-title">Статус</th>
                        <th class="column-title">Действия</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in users %}
                    <tr class="even pointer">
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.firstname }}</td>
                        <td>{{ user.profile.lastname }}</td>
                        <td>{{ user.profile.phone }}</td>

                        {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                        <td>{{ user.profile.companyId }}</td>
                        <td>{{ user.profile.companyTitle }}</td>
                        <td>{{ user.profile.employer }}</td>
                        {% endif %}

                        {% if is_granted(['ROLE_APP_USER_CHANGE_COMMISSION']) %}
                        <td>
                            <a href="#" class="commission-percent"
                               data-type="number"
                               data-pk="1"
                               {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                               data-url="{{ path('api_commissions_for_user', { id: user.id }) }}"
                               {% else %}
                               data-url="{{ path('api_commissions_for_user', { id: user.id, by_user: app.user.id }) }}"
                               {% endif %}
                               data-title="Введите комиссию"
                            >{{ commissions[user.id].percent|default(0) }}</a>
                        </td>
                        {% endif %}

                        <td align="center">
                            {% if true == user.isActive %}
                                <span class="label label-success">Активен</span>
                            {% else %}
                                <span class="label label-danger">Отключен</span>
                            {% endif %}
                        </td>

                        <td>
                            <div class="btn-group">
                                {% if is_granted('ROLE_APP_USER_EDIT') %}
                                <a href="{{ path('app_settings_users_edit', { id: user.id}) }}" class="btn btn-sm btn-default">
                                    <i class="fa fa-pencil"></i>
                                    Редактировать
                                </a>
                                {% endif %}
                                {% if is_granted('ROLE_APP_USER_DELETE') %}
                                <button
                                        type="button"
                                        class="btn btn-sm btn-default"
                                        data-toggle="modal"
                                        data-target="#modal-remove-record"
                                        data-url="{{ path('app_settings_users_remove', { id: user.id}) }}"
                                >
                                    <i class="fa fa-trash-o"></i>
                                    Удалить
                                </button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                {% include 'pager/default_pager.html.twig' %}
            </div>
        </div>
    </form>

{% endblock %}