<table class="table table-striped table-bordered">
    <thead>
    <tr class="headings">
        <th class="column-title">Идентификатор</th>
        <th class="column-title">Владелец</th>
        <th class="column-title">Наименование</th>
        <th class="column-title">Дата начала</th>
        <th class="column-title">Дата завершения</th>
        <th class="column-title">Бюджет</th>
        <th class="column-title">Оплачено</th>
        {% if is_granted(['ROLE_APP_OFFER_CHANGE_COMMISSION']) %}
        <th class="column-title">Комиссия</th>
        {% endif %}
        <th class="column-title">Активность</th>
        <th class="column-title">Удален</th>
        <th class="column-title">Действия</th>
    </tr>
    </thead>

    <tbody>
    {% for offer in offers %}
        <tr class="even pointer">
            <td>{{ offer.id }}</td>
            <td>{{ offer.owner.email }}</td>
            <td>{{ offer.title }}</td>
            <td>{{ offer.activeFrom|date('d-m-Y') }}</td>
            <td>{{ offer.activeTo|date('d-m-Y') }}</td>
            <td>{{ offer.budget }}</td>
            <td>{{ offer.payedAmount }}</td>
            {% if is_granted(['ROLE_APP_OFFER_CHANGE_COMMISSION']) %}
            <td>
                <a href="#" class="commission-percent"
                   data-type="number"
                   data-pk="1"
                   data-url="{{ path('api_commissions_for_offer', { id: offer.id }) }}"
                   data-title="Введите комиссию"
                >{{ commissions[offer.id].percent|default(0) }}</a>
            </td>
            {% endif %}
            <td>
                {% if true == offer.isActive %}
                    <small class="label bg-green">Активирован</small>
                {% else %}
                    <small class="label bg-red">Деактивирован</small>
                {% endif %}
            </td>
            <td>
                {% if true == offer.isDeleted %}
                    <small class="label bg-red">Да</small>
                {% else %}
                    <small class="label bg-green">Нет</small>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    {% if false == offer.isDeleted %}
                    {% include 'pages/offer/buttons/_change_activity.html.twig' %}
                    {% include 'pages/offer/buttons/_hide.html.twig' %}
                    {% endif %}
                    {% include 'pages/offer/buttons/_edit.html.twig' %}
                    {% include 'pages/offer/buttons/_delete.html.twig' %}
                </div>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>